USE [master]
GO
/****** Object:  Database [QuanLiCoffee]    Script Date: 01/05/2025 9:43:03 CH ******/
CREATE DATABASE [QuanLiCoffee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiCoffee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLiCoffee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLiCoffee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLiCoffee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiCoffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiCoffee]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[maCaLamViec] [nvarchar](50) NOT NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[thoiGianBatDau] [datetime] NOT NULL,
	[thoiGianKetThuc] [datetime] NOT NULL,
	[tienMoCa] [decimal](10, 2) NOT NULL,
	[tienDongCa] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maCaLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maChiTietHoaDon] [nvarchar](50) NOT NULL,
	[maHoaDon] [nvarchar](50) NOT NULL,
	[maSanPham] [nvarchar](50) NOT NULL,
	[soLuong] [int] NOT NULL,
	[giaBan] [decimal](10, 2) NOT NULL,
	[thanhTien] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietKhoNguyenLieu]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietKhoNguyenLieu](
	[maKho] [nvarchar](50) NOT NULL,
	[maNguyenLieu] [nvarchar](50) NOT NULL,
	[soLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maKho] ASC,
	[maNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhaCungCap]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhaCungCap](
	[maNhaCungCap] [nvarchar](50) NOT NULL,
	[maNguyenLieu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhaCungCap] ASC,
	[maNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](50) NOT NULL,
	[maNhanVien] [nvarchar](50) NOT NULL,
	[ngayLap] [datetime] NOT NULL,
	[tongTien] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoNguyenLieu]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoNguyenLieu](
	[maKho] [nvarchar](50) NOT NULL,
	[tenKho] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[maLoaiSanPham] [nvarchar](50) NOT NULL,
	[tenLoaiSanPham] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[maNguyenLieu] [nvarchar](50) NOT NULL,
	[tenNguyenLieu] [nvarchar](100) NOT NULL,
	[donViTinh] [nvarchar](20) NOT NULL,
	[giaNhap] [decimal](10, 2) NOT NULL,
	[ngayNhap] [datetime] NOT NULL,
	[ngayHetHan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNhaCungCap] [nvarchar](50) NOT NULL,
	[tenNhaCungCap] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](200) NOT NULL,
	[soDienThoai] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nvarchar](50) NOT NULL,
	[tenNhanVien] [nvarchar](100) NOT NULL,
	[tuoi] [int] NOT NULL,
	[diaChi] [nvarchar](200) NOT NULL,
	[soDienThoai] [nvarchar](15) NOT NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [nvarchar](50) NOT NULL,
	[tenSanPham] [nvarchar](100) NOT NULL,
	[giaBan] [decimal](10, 2) NOT NULL,
	[soLuong] [int] NOT NULL,
	[maLoaiSanPham] [nvarchar](50) NOT NULL,
	[hinhAnh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 01/05/2025 9:43:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL,
	[quyen] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaLamViec] ([maCaLamViec], [tenDangNhap], [thoiGianBatDau], [thoiGianKetThuc], [tienMoCa], [tienDongCa]) VALUES (N'CLV0050', N'khavy', CAST(N'2025-05-01T20:11:37.453' AS DateTime), CAST(N'2025-05-01T20:11:37.453' AS DateTime), CAST(455000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[CaLamViec] ([maCaLamViec], [tenDangNhap], [thoiGianBatDau], [thoiGianKetThuc], [tienMoCa], [tienDongCa]) VALUES (N'CLV0284', N'khavy', CAST(N'2025-05-01T20:41:45.300' AS DateTime), CAST(N'2025-05-01T20:41:45.300' AS DateTime), CAST(455000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[CaLamViec] ([maCaLamViec], [tenDangNhap], [thoiGianBatDau], [thoiGianKetThuc], [tienMoCa], [tienDongCa]) VALUES (N'CLV0406', N'khavy', CAST(N'2025-05-01T20:20:45.207' AS DateTime), CAST(N'2025-05-01T20:20:45.207' AS DateTime), CAST(455000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[ChiTietHoaDon] ([maChiTietHoaDon], [maHoaDon], [maSanPham], [soLuong], [giaBan], [thanhTien]) VALUES (N'CTHD1115', N'HD7865', N'SP59', 1, CAST(25000.00 AS Decimal(10, 2)), CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maChiTietHoaDon], [maHoaDon], [maSanPham], [soLuong], [giaBan], [thanhTien]) VALUES (N'CTHD1283', N'HD7130', N'SP51', 1, CAST(29000.00 AS Decimal(10, 2)), CAST(29000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maChiTietHoaDon], [maHoaDon], [maSanPham], [soLuong], [giaBan], [thanhTien]) VALUES (N'CTHD1621', N'HD4604', N'SP20', 1, CAST(30000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[ChiTietKhoNguyenLieu] ([maKho], [maNguyenLieu], [soLuong]) VALUES (N'K001', N'NL001', 130)
INSERT [dbo].[ChiTietKhoNguyenLieu] ([maKho], [maNguyenLieu], [soLuong]) VALUES (N'K001', N'NL002', 75)
INSERT [dbo].[ChiTietKhoNguyenLieu] ([maKho], [maNguyenLieu], [soLuong]) VALUES (N'K001', N'NL003', 95)
GO
INSERT [dbo].[ChiTietNhaCungCap] ([maNhaCungCap], [maNguyenLieu]) VALUES (N'NCC001', N'NL001')
INSERT [dbo].[ChiTietNhaCungCap] ([maNhaCungCap], [maNguyenLieu]) VALUES (N'NCC001', N'NL005')
INSERT [dbo].[ChiTietNhaCungCap] ([maNhaCungCap], [maNguyenLieu]) VALUES (N'NCC001', N'NL006')
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [ngayLap], [tongTien]) VALUES (N'HD1148', N'NV02', CAST(N'2025-05-01T21:25:54.267' AS DateTime), CAST(99000.00 AS Decimal(10, 2)))
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [ngayLap], [tongTien]) VALUES (N'HD1150', N'NV03', CAST(N'2025-05-01T21:21:13.390' AS DateTime), CAST(125000.00 AS Decimal(10, 2)))
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [ngayLap], [tongTien]) VALUES (N'HD1674', N'NV03', CAST(N'2025-05-01T21:10:48.850' AS DateTime), CAST(115000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[KhoNguyenLieu] ([maKho], [tenKho], [diaChi]) VALUES (N'K001', N'Kho Nguyên Liệu Quận 1', N'25 Nguyễn Thị Minh Khai, Quận 1, TP. Hồ Chí Minh')
INSERT [dbo].[KhoNguyenLieu] ([maKho], [tenKho], [diaChi]) VALUES (N'K002', N'Kho Nguyên Liệu Quận 7', N'102 Nguyễn Văn Linh, Quận 7, TP. Hồ Chí Minh')
INSERT [dbo].[KhoNguyenLieu] ([maKho], [tenKho], [diaChi]) VALUES (N'K003', N'Kho Nguyên Liệu Thủ Ðức', N'12A Võ Văn Ngân, TP. Thủ Ðức, TP. Hồ Chí Minh')
GO
INSERT [dbo].[LoaiSanPham] ([maLoaiSanPham], [tenLoaiSanPham]) VALUES (N'LSP01', N'Coffee')
INSERT [dbo].[LoaiSanPham] ([maLoaiSanPham], [tenLoaiSanPham]) VALUES (N'LSP02', N'Nước Ngọt')
INSERT [dbo].[LoaiSanPham] ([maLoaiSanPham], [tenLoaiSanPham]) VALUES (N'LSP03', N'Sinh Tố')
GO
INSERT [dbo].[NguyenLieu] ([maNguyenLieu], [tenNguyenLieu], [donViTinh], [giaNhap], [ngayNhap], [ngayHetHan]) VALUES (N'NL001', N'Cà phê Arabica', N'kg', CAST(150000.00 AS Decimal(10, 2)), CAST(N'2025-04-01T00:00:00.000' AS DateTime), CAST(N'2025-05-01T00:00:00.000' AS DateTime))
INSERT [dbo].[NguyenLieu] ([maNguyenLieu], [tenNguyenLieu], [donViTinh], [giaNhap], [ngayNhap], [ngayHetHan]) VALUES (N'NL002', N'Cà phê Robusta', N'kg', CAST(150000.00 AS Decimal(10, 2)), CAST(N'2025-04-02T00:00:00.000' AS DateTime), CAST(N'2025-05-02T00:00:00.000' AS DateTime))
INSERT [dbo].[NguyenLieu] ([maNguyenLieu], [tenNguyenLieu], [donViTinh], [giaNhap], [ngayNhap], [ngayHetHan]) VALUES (N'NL003', N'Sữa đặc', N'lon', CAST(20000.00 AS Decimal(10, 2)), CAST(N'2025-04-03T00:00:00.000' AS DateTime), CAST(N'2025-06-17T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [tenNhaCungCap], [diaChi], [soDienThoai]) VALUES (N'NCC001', N'Công Ty Nguyên Liệu Việt', N'123 Lê Lơi, Quận 1, TP.HCM', N'0901234567')
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [tenNhaCungCap], [diaChi], [soDienThoai]) VALUES (N'NCC002', N'Nguyên Liệu Pha Chế ABC', N'45 Nguyễn Trãi, Quận 5, TP.HCM', N'0908765432')
INSERT [dbo].[NhaCungCap] ([maNhaCungCap], [tenNhaCungCap], [diaChi], [soDienThoai]) VALUES (N'NCC003', N'Cty Cung Cấp Cà Phê Nam', N'78 Lý Thuờng Kiệt, Quận 10, TP.HCM', N'0911122233')
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [tuoi], [diaChi], [soDienThoai], [tenDangNhap]) VALUES (N'NV01', N'Hoàng', 25, N'Hà Nội', N'0123456789', N'hoang')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [tuoi], [diaChi], [soDienThoai], [tenDangNhap]) VALUES (N'NV02', N'Yến', 22, N'TP.Ho Chi Minh', N'0987654321', N'yen')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [tuoi], [diaChi], [soDienThoai], [tenDangNhap]) VALUES (N'NV03', N'Khavy', 28, N'TP.Ho Chi Minh', N'0912345678', N'khavy')
GO
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaBan], [soLuong], [maLoaiSanPham], [hinhAnh]) VALUES (N'SP01', N'Coffee Đen', CAST(25000.00 AS Decimal(10, 2)), 100, N'LSP01', N'Coffee Đen.jpg')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaBan], [soLuong], [maLoaiSanPham], [hinhAnh]) VALUES (N'SP02', N'Coffee Sữa', CAST(28000.00 AS Decimal(10, 2)), 120, N'LSP01', N'Coffee sữa.jpg')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaBan], [soLuong], [maLoaiSanPham], [hinhAnh]) VALUES (N'SP03', N'Latte', CAST(32000.00 AS Decimal(10, 2)), 80, N'LSP01', N'Latte.jpg')
GO
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [quyen]) VALUES (N'admin', N'admin', 1)
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [quyen]) VALUES (N'hoang', N'hoang123', 0)
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [quyen]) VALUES (N'khavy', N'khavy123', 0)
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tongTien]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT (getdate()) FOR [ngayNhap]
GO
ALTER TABLE [dbo].[CaLamViec]  WITH CHECK ADD FOREIGN KEY([tenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([tenDangNhap])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[ChiTietKhoNguyenLieu]  WITH CHECK ADD FOREIGN KEY([maKho])
REFERENCES [dbo].[KhoNguyenLieu] ([maKho])
GO
ALTER TABLE [dbo].[ChiTietKhoNguyenLieu]  WITH CHECK ADD FOREIGN KEY([maNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([maNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietNhaCungCap]  WITH CHECK ADD FOREIGN KEY([maNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([maNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietNhaCungCap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhaCungCap_NhaCungCap] FOREIGN KEY([maNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([maNhaCungCap])
GO
ALTER TABLE [dbo].[ChiTietNhaCungCap] CHECK CONSTRAINT [FK_ChiTietNhaCungCap_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([tenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([tenDangNhap])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([maLoaiSanPham])
GO
USE [master]
GO
